<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dirA622272A3642906C114F843D2FDC5552" Name="release">
                <Component Id="cmp1027F0CE540ADF6915F36DE01595867F" Guid="9A42E877-AFEA-4EBB-A146-577DAD5C8F60">
                    <File Id="fil7431D2C6178D6B0070172BFDE00FE11D" KeyPath="yes" Source="SourceDir\FParsec.dll" />
                </Component>
                <Component Id="cmpE30E7F9C00E3A26C27E81B55CB93AA9E" Guid="E5845DD4-26F4-4C90-AD41-AC2A479A7AE1">
                    <File Id="filC54482B96E60AA2BA2C5EF2EF6EB22A4" KeyPath="yes" Source="SourceDir\FParsec.pdb" />
                </Component>
                <Component Id="cmp6BF4568EB6A03010C7BAB5B54CE0DDC7" Guid="C2260A5C-7C3C-4411-9BCD-3E8FD4D3CCB0">
                    <File Id="fil690EED27222BC9DEBCC69BAEA7ED5BBD" KeyPath="yes" Source="SourceDir\FParsec.xml" />
                </Component>
                <Component Id="cmp112CBBAF1E13435BD08922B94CF58472" Guid="9CBEE223-84A8-4EB6-92E6-0F5FFB81284E">
                    <File Id="filC33304EB1DA5EB2E423DF322ED660664" KeyPath="yes" Source="SourceDir\FParsecCS.dll" />
                </Component>
                <Component Id="cmpC32F467F627F0C01AA4938AD40EFDA60" Guid="92B38184-9662-4657-8FF8-AD52313675D3">
                    <File Id="fil8BAE7B2FBCC1CC7901AA23761BE25A96" KeyPath="yes" Source="SourceDir\FParsecCS.pdb" />
                </Component>
                <Component Id="cmp0D08757452B1D4CA177BC72C0D8B9808" Guid="D9D32DC1-44C2-4C99-9710-C5DA6F1345BC">
                    <File Id="fil1DB359EAB1BA1903ED20BBAA1D990483" KeyPath="yes" Source="SourceDir\FParsecCS.xml" />
                </Component>
                <Component Id="cmpC77A7A575E9465D701C522077448FF63" Guid="A11CE0AE-0876-4346-A6AC-0D41F4B817A7">
                    <File Id="filBD0C02CDA5D612566F3C471F9AF2C0C9" KeyPath="yes" Source="SourceDir\FSharp.Core.dll" />
                </Component>
                <Component Id="cmp81229E989CAA41ED00BFF7DD37D2083B" Guid="C032C1B2-4604-4024-978F-0BD14187A6D1">
                    <File Id="fil8FAA48842E98D71FA862CCEF2705FBC4" KeyPath="yes" Source="SourceDir\FSharp.Core.xml" />
                </Component>
                <Component Id="cmp7B83603C7785AAC499A547D0D83A036D" Guid="0AF1D773-FECB-453F-A3ED-50BF7D12DDC2">
                    <File Id="filF414B157757E9AE4EC3D31108A842E55" KeyPath="yes" Source="SourceDir\FSharpx.Core.dll" />
                </Component>
                <Component Id="cmp34EC6AAEF31AA9684B20B6682FA2EF72" Guid="88BD0A50-7AB3-4202-9C5A-961C048600EE">
                    <File Id="fil582FAF0D39697BB0BB97A3A4E38DDA72" KeyPath="yes" Source="SourceDir\FSharpx.Core.pdb" />
                </Component>
                <Component Id="cmp6D850BB7B12FFBC7ABF2618B508815D4" Guid="F1B9C760-5BAC-4CBD-971B-BF1A1DF07B3F">
                    <File Id="fil7EB36C10534BFF61497C90A4471F4BB6" KeyPath="yes" Source="SourceDir\FSharpx.Core.xml" />
                </Component>
                <Component Id="cmpB74AD5D89D58CA4F34778A364CD293E9" Guid="9E9F3F9D-01B8-44A8-AF43-ED94E98B918F">
                    <File Id="fil709848AF7650EE977D9B98CF34B2F3B2" KeyPath="yes" Source="SourceDir\juniper" />
                </Component>
                <Component Id="cmpC43E13DD8A45D7ED95337B57CE7BC9B4" Guid="076A7F8A-89EB-4700-BCEE-B509EF096183">
                    <File Id="fil173E0EDDC78644F32955C31D859DBAB2" KeyPath="yes" Source="SourceDir\Juniper.exe" />
                </Component>
                <Component Id="cmpB40A09D490B50ACAB23E276D872A130C" Guid="D0325535-2FA5-4EE5-A0C7-625EC116FCED">
                    <File Id="fil2BC32399AA2A890971C4A63BE0362C69" KeyPath="yes" Source="SourceDir\Juniper.exe.config" />
                </Component>
                <Component Id="cmp0A2F398885AF22D2B47A9AFAFE374490" Guid="F5DD7741-B447-4854-B1ED-FD88C43E12FA">
                    <File Id="filFB3E3F3C3F0FC465BF1790F44EF7A2EE" KeyPath="yes" Source="SourceDir\Juniper.pdb" />
                </Component>
                <Component Id="cmp9BFF8C02357CDAD63735AA8DA69649EA" Guid="E8418574-4BD7-4862-A227-6D5D290AC073">
                    <File Id="filC501E95E2DE6C32F832A8B6C2079EC90" KeyPath="yes" Source="SourceDir\Juniper.XML" />
                </Component>
                <Component Id="cmp0981059715750C5820D7B4E22FCAAC50" Guid="5F701436-FA7A-405E-8646-1725F04495A4">
                    <File Id="fil32BBE685CA80ACDF987BA4E7547E14BC" KeyPath="yes" Source="SourceDir\QuickGraph.Data.dll" />
                </Component>
                <Component Id="cmpC780CBE44B36F426FDB47096B18B8C33" Guid="1872D48C-98F1-4AD7-814F-44BC18AEE931">
                    <File Id="filAC302B6AB4585E9C3ABAAD8A516E0B05" KeyPath="yes" Source="SourceDir\QuickGraph.Data.xml" />
                </Component>
                <Component Id="cmpDCEE296BBFFD5D56BBC0B4D2543ABDB6" Guid="F6BB47FF-05F0-4A89-B38A-8D514208105C">
                    <File Id="filB6959B264FD7DBB87B1373E97C219FAD" KeyPath="yes" Source="SourceDir\QuickGraph.dll" />
                </Component>
                <Component Id="cmp669E103799ACEA35377B0AD6E44C6A2E" Guid="4E353199-3251-4A4B-B48E-82B758BFBBC8">
                    <File Id="fil965CC3DF4C492A3FF17D8E00733F3026" KeyPath="yes" Source="SourceDir\QuickGraph.Graphviz.dll" />
                </Component>
                <Component Id="cmpE8FA7C3FF84CABFA50BC61620F3FCE87" Guid="6AD78A18-0366-4CBA-89F0-2A2024EABFFB">
                    <File Id="fil36656AF4D21B0C0257F2CFDE9A44AA36" KeyPath="yes" Source="SourceDir\QuickGraph.Graphviz.xml" />
                </Component>
                <Component Id="cmp14FEE9E496036C3F5274FE739E1DA128" Guid="7D840BAB-0B31-4D48-B9B1-78C1969FD5BD">
                    <File Id="fil61E823D3E7FC9BEAEF59A0E32BE01E36" KeyPath="yes" Source="SourceDir\QuickGraph.Serialization.dll" />
                </Component>
                <Component Id="cmp6F72E9DAC21649EB1EBE449D1068A248" Guid="51DF9041-3A1D-4C2E-802B-8C33B9DACC6B">
                    <File Id="fil796658736D4FD5C2E79727C8EC7CD992" KeyPath="yes" Source="SourceDir\QuickGraph.Serialization.xml" />
                </Component>
                <Component Id="cmp58CB9E2C7D4FE361D548B3266EE701C9" Guid="C85EF44D-11AD-447A-89D9-4EA65C5AE91A">
                    <File Id="fil79E8897C43066DB5DDDCA54DF41209FC" KeyPath="yes" Source="SourceDir\QuickGraph.xml" />
                </Component>
                <Component Id="cmp7E8CAD5C24ED62FD43376C2EEEF66F1F" Guid="617FD816-F235-46DA-8A5F-5B9409251A04">
                    <File Id="fil7B72271133BF78267008DE2AB18828D3" KeyPath="yes" Source="SourceDir\System.ValueTuple.dll" />
                </Component>
                <Component Id="cmp19FDC441E02FBCC58968AF5306214431" Guid="CA11208E-CE95-447B-96D5-0B44B79288B2">
                    <File Id="fil88060908EEC979C0AB50FCE2AB7A270C" KeyPath="yes" Source="SourceDir\System.ValueTuple.xml" />
                </Component>
                <Directory Id="dir97C707B2CF372A810AD88C89EC2942CC" Name="cppstd">
                    <Component Id="cmpD484CAD2828D8429BEA1B8F44CD6F84A" Guid="EF2D4EE1-E7FD-4651-A927-B337A8D1BA19">
                        <File Id="fil5CC5D9016EEDB9EC08B159ACB2EEB0DC" KeyPath="yes" Source="SourceDir\cppstd\juniper.hpp" />
                    </Component>
                </Directory>
                <Directory Id="dir44A5D4941F97CF758214C7F933592FAB" Name="cs">
                    <Component Id="cmp9B5B760B8A9F38C6FA26245A50AADD41" Guid="A0FB3371-5E1D-436A-B243-E03594B3AAC9">
                        <File Id="filB4EC518732D699715741BDD5FF7C1EFE" KeyPath="yes" Source="SourceDir\cs\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirD157146D7B2E98D168023A61B47EF144" Name="de">
                    <Component Id="cmp0333B649BD5869D1A7CB96DD76D8FFDE" Guid="68202339-001A-4BE4-8DFA-4FE658B1FB56">
                        <File Id="fil408248135A33A718045EFD17067BF0BE" KeyPath="yes" Source="SourceDir\de\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir9630248E8E10CB4676A7CC64B388E3BD" Name="es">
                    <Component Id="cmpD75286F2BC8A98814171B3FCEF402144" Guid="9D7B726F-4696-4931-A05C-BC295F97D5DF">
                        <File Id="fil2A7DD6F47D147B69C8F0E74B1F233953" KeyPath="yes" Source="SourceDir\es\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir5CAB923250368EB119283D084C1DD2DE" Name="examples">
                    <Component Id="cmpE3284CFF13CF614F0E6B55107A4CFB7E" Guid="2561DFD3-2E04-48AD-8118-37D4B28E552C">
                        <File Id="filD8D9868D9FB94F99B5A34DB99518B4AA" KeyPath="yes" Source="SourceDir\examples\Blink.jun" />
                    </Component>
                    <Component Id="cmp3E3E5CB27B0156EF46AF562D90B96682" Guid="2A61E65F-798A-449C-B0B0-816DCAEF143E">
                        <File Id="fil69779F1E90CF57736B4AE7063D9E6B05" KeyPath="yes" Source="SourceDir\examples\ButtonDebounce.jun" />
                    </Component>
                    <Component Id="cmp62567F95F591AE2732574FAC4C17C780" Guid="622CAA5C-1310-47FB-8EE1-9ACBB0D6D76C">
                        <File Id="fil8CEE91F841C24E571E2685C13742BED3" KeyPath="yes" Source="SourceDir\examples\NeopixelRing.jun" />
                    </Component>
                </Directory>
                <Directory Id="dirD93755196F66C55A2B8811E6046B0791" Name="fr">
                    <Component Id="cmp4586669D56AF8CDF6CB073F9835C44CB" Guid="089B576B-2783-4C6B-93D5-30289050D755">
                        <File Id="filBBD545B5EFA35CB44255AFA26F5C691F" KeyPath="yes" Source="SourceDir\fr\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir62FD175FCB7C05E2350DF634020ECA53" Name="it">
                    <Component Id="cmpB5085A68470BAE32D4A0C1617894A33B" Guid="7C9F4875-849D-4334-A6BA-27C55793F745">
                        <File Id="fil438FB5776582FE9AF4122AF657EA9619" KeyPath="yes" Source="SourceDir\it\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir2E3068F4F3A94B4EBF3757AFCC68F0A5" Name="ja">
                    <Component Id="cmpFF882CCEFF44BCA7BEB1D23FB09449D3" Guid="64D66C07-35D8-44F6-8FC5-08D5499B8570">
                        <File Id="filB322B253F33902285E8924932E665978" KeyPath="yes" Source="SourceDir\ja\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirD6D264A6027F400FDBD35D6DB3123F22" Name="junstd">
                    <Component Id="cmp9ED875863732D740368CBC63FE5B2E15" Guid="F9913612-6464-45F0-9BDC-803572A079FD">
                        <File Id="filFA410233BC55EF54A7FF5085C638C30F" KeyPath="yes" Source="SourceDir\junstd\Button.jun" />
                    </Component>
                    <Component Id="cmp234343C00A9F1C4CCD07093C4063D73E" Guid="62560102-AE08-44F5-A7D5-590F01AF4E15">
                        <File Id="filA0935FF05DC1DAABA44E22C0AAEE8859" KeyPath="yes" Source="SourceDir\junstd\CharList.jun" />
                    </Component>
                    <Component Id="cmpF87EDB4D925F8B974AA9DCAEB7FC61A2" Guid="858E0305-EBE9-473C-ABD8-D3F4633A03AF">
                        <File Id="filD696FDE9C86469C3DE98CB07150C3495" KeyPath="yes" Source="SourceDir\junstd\Io.jun" />
                    </Component>
                    <Component Id="cmp2CB8E2BFF0744B09B3B951733349F9C2" Guid="DBA8F11B-1943-4A56-8CE4-F245C9CF7BB2">
                        <File Id="filA07A62374EF08F4CDDD395A50F1CA2DE" KeyPath="yes" Source="SourceDir\junstd\List.jun" />
                    </Component>
                    <Component Id="cmp64972991B345C6FDD86B55778417A15F" Guid="10292351-5B75-4CDE-A32F-A083872B2675">
                        <File Id="fil8525710A2E1282705F6B4310394D6B51" KeyPath="yes" Source="SourceDir\junstd\Math.jun" />
                    </Component>
                    <Component Id="cmp57D2FE9222732BF5583EEF79EBB50872" Guid="879F5EF7-25DD-4AF0-97EA-A6EB0CB73B70">
                        <File Id="filFABCDE14C23489F04AA9B464D3E56567" KeyPath="yes" Source="SourceDir\junstd\Maybe.jun" />
                    </Component>
                    <Component Id="cmp338999AD74DB1DDEEE46BE265ED4E6C0" Guid="A33BDB45-FF2D-40CF-A8EB-6E2966854523">
                        <File Id="filE35AF486D4966C1AD74924455E37ED8B" KeyPath="yes" Source="SourceDir\junstd\Prelude.jun" />
                    </Component>
                    <Component Id="cmpFB42324C68B09CB64EBF65297D398828" Guid="0D90D4DC-C790-4A87-95F7-B2E40E32AE19">
                        <File Id="fil2A90C0F154E3832860E7FFFA5CEE7894" KeyPath="yes" Source="SourceDir\junstd\Signal.jun" />
                    </Component>
                    <Component Id="cmp82B1E8F70DC14C18C90A1DB454907E20" Guid="2399DDDC-D7E1-451C-8211-B8BF4395D7EF">
                        <File Id="fil86FD8B12509DA6F1D309519C53511499" KeyPath="yes" Source="SourceDir\junstd\StringM.jun" />
                    </Component>
                    <Component Id="cmpA55A051605375B3FCBEB599DE9B72FDF" Guid="B45348D7-B6BF-4D4B-B48D-C70B46FC3BE0">
                        <File Id="fil5A49D6E2A7A1CC156E5F239991BEA1F0" KeyPath="yes" Source="SourceDir\junstd\Time.jun" />
                    </Component>
                    <Component Id="cmp2427C1853362F47C86C4E769756AC716" Guid="762C4ACC-CABA-4DF6-9109-1BA619588E18">
                        <File Id="fil2FA63E90EF11AD644272363E5D316D53" KeyPath="yes" Source="SourceDir\junstd\Vector.jun" />
                    </Component>
                </Directory>
                <Directory Id="dir20711B764E657FBE53ADAD080688994F" Name="ko">
                    <Component Id="cmp9F87DE51AD36445360579AEE997DD521" Guid="2F1DF3CB-B6A6-47DD-A3F9-C18885207F63">
                        <File Id="fil926BE9D9C3145A541C0E1EC9B55A180C" KeyPath="yes" Source="SourceDir\ko\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir8A8407AF640A1ABB2EE08652BCA44D39" Name="pl">
                    <Component Id="cmpB5D6BBEE07890D3C2A67AC4C7C7CBD95" Guid="83BF88AF-890B-4D14-8DFD-10854F32B990">
                        <File Id="fil2D9885B4BEC5E8944006C5FF4DC42C06" KeyPath="yes" Source="SourceDir\pl\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir54DE92FBBD66BD269DC69EE3223F9E98" Name="pt-BR">
                    <Component Id="cmpBF7A3F2276633F5047829F07C38EE87E" Guid="1CEDC031-305C-4A9B-AB8C-43242C72D9C3">
                        <File Id="fil390D01490DB75F89901B5D67496D753A" KeyPath="yes" Source="SourceDir\pt-BR\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir9754CA6E2B83C27E94A2252989EB10B4" Name="ru">
                    <Component Id="cmp70BA7712A1D0643AA2A1AFE770151821" Guid="6DEC2264-ABFD-49D6-AC4C-4C1CAF4D434D">
                        <File Id="filCBB1CEBB506257E594376D41C2E475E5" KeyPath="yes" Source="SourceDir\ru\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirEB320FFC2623784742F2A1155DB80B6D" Name="tr">
                    <Component Id="cmpDF7BE1A18CA0E7182D308F725EC5DA84" Guid="3F32EEA0-CFBC-40E2-B7CA-B683976E25A8">
                        <File Id="filB88065EC7E8D683084BAC36D34275DB6" KeyPath="yes" Source="SourceDir\tr\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir06FE42698F58D80016CD207535F0B4D3" Name="wrappers">
                    <Component Id="cmpC33029DA85356A3618D2300769E843EC" Guid="0EABD83E-A133-4FA0-A939-D453C6374BE4">
                        <File Id="fil606A6CE5D241BC8FEEA025C0B116A327" KeyPath="yes" Source="SourceDir\wrappers\AdafruitGPS.jun" />
                    </Component>
                    <Component Id="cmpA701527A229CF3E156E08DE8040400D7" Guid="DB8A9146-53CE-4EF9-BB6E-00BC38AEE3C5">
                        <File Id="fil68DC8CCCAD9B812F2171F9EDEE5BBCCB" KeyPath="yes" Source="SourceDir\wrappers\AdafruitLSM303.jun" />
                    </Component>
                    <Component Id="cmpBEDEC70BDBC3DCCB599D902090FF465E" Guid="CE8BD78C-B9C4-469C-9589-CD58BAE5163C">
                        <File Id="filAE3DB8F85E9F5CF97D19BD41FE4CDFE0" KeyPath="yes" Source="SourceDir\wrappers\AdafruitLSM303Accelerometer.jun" />
                    </Component>
                    <Component Id="cmp8B0DD34F180A4AFF113A881B7B1FF22C" Guid="E49A939E-D612-4353-AAFF-CB4E1A2F69FB">
                        <File Id="fil729FB60BBD5E9A9A3FEAA1C553937698" KeyPath="yes" Source="SourceDir\wrappers\AdafruitLSM303Magnetometer.jun" />
                    </Component>
                    <Component Id="cmp520AD00A80F787393A0E98DAB2F04BE6" Guid="BBCE45D5-9F49-4D03-9AE6-C94B3D548F5D">
                        <File Id="fil3AB0273DD9C3361659CCB0558D36DE25" KeyPath="yes" Source="SourceDir\wrappers\Neopixel.jun" />
                    </Component>
                </Directory>
                <Directory Id="dir7BB2C5CF53262060FCDAFBA87040451F" Name="zh-Hans">
                    <Component Id="cmpC429B5B12223927DD54F3E541D49F6F1" Guid="5499553F-3110-46BB-BE19-39208E94636C">
                        <File Id="filF25E66F28F2C63C65509168F19E8A827" KeyPath="yes" Source="SourceDir\zh-Hans\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir98DEE4F9006E34337470E4E51BDE00F6" Name="zh-Hant">
                    <Component Id="cmp479DCD841408C1919DC562DEFC00D8A6" Guid="84839E44-7472-45E2-9078-044B0A096B35">
                        <File Id="fil5D6DE57D8276A3C4E3607FF6C9E2984D" KeyPath="yes" Source="SourceDir\zh-Hant\FSharp.Core.resources.dll" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>